#funciona el cronjob pero lo hace duplicado
#container_commands:
#  00_remove_old_cron_jobs:
#    command: "crontab -r || exit 0"
#  01_populate_cron:
#    command: "echo '
#    DB_CONNECTION=mysql
#    DB_HOST=pitz.cv3f1jjgnyzm.us-west-2.rds.amazonaws.com
#    DB_DATABASE=api_pitz
#    DB_USERNAME=sudopitz
#    DB_PASSWORD=sudopitz1948
#    * * * * * /usr/bin/php /var/app/current/artisan schedule:run >> /dev/null 2>&1'  | crontab"
#    leader_only: true
##command: crontab -l | { cat; echo "* * * * * root /usr/bin/php /var/app/current/artisan schedule:run >> /dev/null 2>&1"; } | crontab -
