<!-- BEGIN SIDEBAR -->
<div class="sidebar">
  <div class="logopanel">
    <h1>
      <a href="dashboard.html"></a>
    </h1>
  </div>
  <div class="sidebar-inner">
    <div class="sidebar-top">
      <form action="search-result.html" method="post" class="searchform">
        <input type="text" class="form-control" name="keyword" placeholder="Search here...">
      </form>
      <div class="userlogged clearfix">
        <i class="icon icons-faces-users-01"></i>
        <div class="user-details">
          <h4>Mike Mayers</h4>
          <div class="dropdown user-login">
            <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
            <i class="online"></i><span>Available</span><i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="busy"></i><span>Busy</span></a></li>
              <li><a  href="#"><i class="turquoise"></i><span>Invisible</span></a></li>
              <li><a href="#"><i class="away"></i><span>Away</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-title">
      Navigation 
      <div class="pull-right menu-settings">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300"> 
        <i class="icon-settings"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" id="reorder-menu" class="reorder-menu">Reorder menu</a></li>
          <li><a href="#" id="remove-menu" class="remove-menu">Remove elements</a></li>
          <li><a href="#" id="hide-top-sidebar" class="hide-top-sidebar">Hide / show user image</a></li>
        </ul>
      </div>
    </div>
    <ul class="nav nav-sidebar">
      <li><a href="dashboard.html"><i class="icon-home"></i><span>Dashboard</span></a></li>
      <li class="nav-parent">
        <a href="#"><i class="icon-puzzle"></i><span>Builder</span> <span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a target="_blank" href="../../admin-builder/index.html"> Admin</a></li>
          <li><a href="page-builder/index.html"> Page</a></li>
          <li><a href="ecommerce-pricing-table.html"> Pricing Table</a></li>
        </ul>
      </li>
      <li class="nav-parent">
        <a href="#"><i class="icon-bulb"></i><span>Mailbox</span> <span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a href="mailbox.html"> Inbox</a></li>
          <li><a href="mailbox-send.html"> Send Email</a></li>
        </ul>
      </li>
      <li class="nav-parent">
        <a href=""><i class="icon-screen-desktop"></i><span>UI Elements</span> <span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a href="ui-buttons.html" > Buttons</a></li>
          <li><a href="ui-components.html"> Components</a></li>
          <li><a href="ui-tabs.html"> Tabs</a></li>
          <li><a href="ui-animations.html"> Animations CSS3</a></li>
          <li><a href="ui-icons.html"> Icons</a></li>
          <li><a href="ui-portlets.html"> Portlets</a></li>
          <li><a href="ui-nestable-list.html" > Nestable List</a></li>
          <li><a href="ui-tree-view.html"> Tree View</a></li>
          <li><a href="ui-modals.html"> Modals</a></li>
          <li><a href="ui-notifications.html"> Notifications</a></li>
          <li><a href="ui-typography.html"> Typography</a></li>
          <li><a href="ui-helper.html"> Helper Classes</a></li>
        </ul>
      </li>
      <li class="nav-parent">
        <a href=""><i class="icon-layers"></i><span>Layouts</span><span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a href="layouts-api.html"> API</a></li>
          <li><a href="layout-collapsed-sidebar.html"> Collapsed Sidebar</a></li>
          <li><a href="layout-topbar-menu.html"> Horizontal Mega Menu</a></li>
          <li><a href="layout-topbar-menu-dark.html"> Horizontal Mega Menu Dark</a></li>
          <li><a href="layout-sidebar-top.html"> Sidebar on Top</a></li>
          <li><a href="layout-right-sidebar.html"> Right Sidebar</a></li>
          <li><a href="layout-sidebar-hover.html"> Sidebar on Hover</a></li>
          <li><a href="layout-sidebar-condensed.html"> Sidebar Condensed</a></li>
          <li><a href="layout-sidebar-light.html"> Sidebar Light</a></li>
          <li><a href="layout-boxed.html"> Boxed Layout</a></li>
        </ul>
      </li>
      <li class="nav-parent">
        <a href=""><i class="icon-note"></i><span>Forms </span><span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a href="forms.html"> Forms Elements</a></li>
          <li><a href="forms-validation.html"> Forms Validation</a></li>
          <li><a href="forms-plugins.html"> Advanced Plugins</a></li>
          <li><a href="forms-wizard.html"> <span class="pull-right badge badge-danger">low</span> <span>Form Wizard</span></a></li>
          <li><a href="forms-sliders.html"> Sliders</a></li>
          <li><a href="forms-editors.html"> Text Editors</a></li>
          <li><a href="forms-input-masks.html"> Input Masks</a></li>
        </ul>
      </li>
      <li class="nav-parent">
        <a href=""><i class="fa fa-table"></i><span>Tables</span><span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a href="tables.html"> Tables Styling</a></li>
          <li><a href="tables-dynamic.html"> Tables Dynamic</a></li>
          <li><a href="tables-filter.html"> Tables Filter</a></li>
          <li><a href="tables-editable.html"> Tables Editable</a></li>
        </ul>
      </li>
      <li class="nav-parent">
        <a href=""><i class="icon-bar-chart"></i><span>Charts </span><span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a href="charts.html"> Charts</a></li>
          <li><a href="charts-finance.html"> Financial Charts</a></li>
        </ul>
      </li>
      <li class="nav-parent">
        <a href=""><i class="icon-picture"></i><span>Medias</span><span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a href="medias-image-croping.html"> Images Croping</a></li>
          <li><a href="medias-gallery-sortable.html"> Gallery Sortable</a></li>
          <li><a href="medias-hover-effects.html"> <span class="pull-right badge badge-primary">12</span> Hover Effects</a></li>
          <li><a href="medias-manager.html"> <span class="pull-right badge badge-success">low</span> <spanMedias Manager</span></a></li>
        </ul>
      </li>
      <li class="nav-parent">
        <a href=""><i class="icon-docs"></i><span>Pages </span><span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a href="page-timeline.html"> Timeline</a></li>
          <li><a href="page-404.html"> Error 404</a></li>
          <li><a href="page-500.html"> Error 500</a></li>
          <li><a href="page-blank.html"> Blank Page</a></li>
          <li><a href="page-contact.html"> Contact</a></li>
          <li><a href="page-search-results.html"> Search Results</a></li>
        </ul>
      </li>
      <li class="nav-parent">
        <a href=""><i class="icon-user"></i><span>User </span><span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a href="user-profil.html"> <span class="pull-right badge badge-danger">Hot</span> Profil</a></li>
          <li><a href="user-lockscreen.html"> Lockscreen</a></li>
          <li><a href="user-login-v1.html"> Login / Register</a></li>
          <li><a href="user-login-v2.html"> Login / Register v2</a></li>
          <li><a href="user-session-timeout.html"> Session Timeout</a></li>
        </ul>
      </li>
      <li class="nav-parent">
        <a href=""><i class="icon-basket"></i><span>eCommerce </span><span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a href="ecommerce-dashboad.html"> Dashboard</a></li>
          <li><a href="ecommerce-cart.html"> Shopping Cart</a></li>
          <li><a href="ecommerce-invoice.html"> Invoice</a></li>
          <li><a href="ecommerce-pricing-table.html"><span class="pull-right badge badge-success">5</span> Pricing Tables</a></li>
        </ul>
      </li>
      <li class="nav-parent">
        <a href=""><i class="icon-cup"></i><span>Extra </span><span class="fa arrow"></span></a>
        <ul class="children collapse">
          <li><a href="extra-widgets.html"> Widgets</a></li>
          <li><a href="page-coming-soon.html"> Coming Soon</a></li>
                <li><a href="extra-sliders.html"> Sliders</a></li>
          <li><a href="maps-google.html"> Google Maps</a></li>
          <li><a href="maps-vector.html"> Vector Maps</a></li>
          <li><a href="extra-intro.html"> Intro</a></li>
        </ul>
      </li>
    </ul>
    <!-- SIDEBAR WIDGET PROGRESS CHARTS -->
    <div class="sidebar-widgets">
      <p class="menu-title widget-title">Statistics <span class="pull-right"><a href="#" class="hide-widget"> <i class="icons-office-52"></i></a></span></p>
      <div class="charts-sidebar progress-chart">
        <div class="sidebar-charts-inner">
          <div class="clearfix">
            <div class="sidebar-chart-title">Stat 1</div>
            <div class="sidebar-chart-number">82%</div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-primary stat1" data-transitiongoal="82"></div>
          </div>
        </div>
        <div class="sidebar-charts-inner">
          <div class="clearfix">
            <div class="sidebar-chart-title">Stat 2</div>
            <div class="sidebar-chart-number">43%</div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-primary stat2" data-transitiongoal="43"></div>
          </div>
        </div>
        <div class="sidebar-charts-inner">
          <div class="clearfix">
            <div class="sidebar-chart-title">Stat 3</div>
            <div class="sidebar-chart-number" id="number-visits">93%</div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-primary stat3" data-transitiongoal="93"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-footer clearfix">
      <a class="pull-left footer-settings" href="#" data-rel="tooltip" data-placement="top" data-original-title="Settings">
      <i class="icon-settings"></i></a>
      <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
      <i class="icon-size-fullscreen"></i></a>
      <a class="pull-left" href="#" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
      <i class="icon-lock"></i></a>
      <a class="pull-left btn-effect" href="#" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout">
      <i class="icon-power"></i></a>
    </div>
  </div>
</div>
<!-- END SIDEBAR -->