<div>
    <div class="header">
        <h2>Layouts <strong>API</strong></h2>
        <p class="f-18">This theme offer many layouts with sidebar, topbar, chat that can be manage easily with data attribute.</p>
        <p>Find more information about all layouts functions and attribute in <a href="../../../../_documentation/api.html" target="_blank">API Documentation</a>.</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-content p-t-0">
                    <div class="row">
                        <div class="col-md-4">
                            <h3><strong>Sidebar Fixed / Fluid</strong></h3>
                            <div class="row layout-options">
                                <div class="col-sm-12">
                                    <a data-toggle="sidebar-behaviour" href="#">
                                        <img src="../../../assets/global/images/layouts/sidebar-fluid.jpg" alt="sidebar-fluid" class="img-sidebar-fluid hidden img-responsive">
                                        <img src="../../../assets/global/images/layouts/sidebar-fixed.jpg" alt="sidebar-fixed" class="img-sidebar-fixed img-responsive">
                                    </a>
                                </div>
                            </div>
                            <p class="m-t-5"><small class="sidebar-txt">current layout: <strong>sidebar fixed</strong></small></p>
                        </div>
                        <div class="col-md-4">
                            <h3><strong>Submenu on Click / Hover</strong></h3>
                            <div class="row layout-options">
                                <div class="col-sm-12">
                                    <a data-toggle="submenu" href="#" class="submenu-layout">
                                        <img src="../../../assets/global/images/layouts/submenu-hover.jpg" alt="submenu" class="img-submenu-hover hidden img-responsive">
                                        <img src="../../../assets/global/images/layouts/submenu-click.jpg" alt="submenu" class="img-submenu-click img-responsive">
                                    </a>
                                </div>
                            </div>
                            <p class="m-t-5"><small class="submenu-txt">current layout: <strong>sidebar submenu on click</strong></small></p>
                        </div>
                        <div class="col-md-4">
                            <h3><strong> Boxed / Fullwidth</strong></h3>
                            <div class="row layout-options">
                                <div class="col-sm-12">
                                    <a data-toggle="boxed" href="#" class="layout-boxed">
                                        <img src="../../../assets/global/images/layouts/boxed.jpg" alt="boxed" class="img-boxed hidden img-responsive">
                                        <img src="../../../assets/global/images/layouts/sidebar-large.jpg" alt="boxed" class="img-sidebar-large img-responsive">
                                    </a>
                                </div>
                            </div>
                            <p class="m-t-5"><small class="boxed-txt">current layout: <strong>fullwidth page</strong></small></p>
                        </div>
                        <div class="col-md-4">
                            <h3><strong> Sidebar on Click / Hover</strong></h3>
                            <div class="row layout-options">
                                <div class="col-sm-12">
                                    <a data-toggle="sidebar-hover" href="#" class="layout-sidebar-hover">
                                        <img src="../../../assets/global/images/layouts/sidebar-large.jpg" alt="boxed" class="img-sidebar-click img-responsive">
                                        <img src="../../../assets/global/images/layouts/sidebar-hover.jpg" alt="boxed" class="img-sidebar-hover hidden img-responsive">
                                    </a>
                                </div>
                            </div>
                            <p class="m-t-5"><small class="sidebar-hover-txt">current layout: <strong>sidebar visible</strong></small></p>
                        </div>
                        <div class="col-md-4">
                            <h3><strong>Topbar Fixed / Fluid</strong></h3>
                            <div class="row layout-options">
                                <div class="col-sm-12">
                                    <a data-toggle="topbar" href="#">
                                        <img src="../../../assets/global/images/layouts/topbar-fixed.jpg" alt="topbar" class="img-topbar-fixed img-responsive">
                                        <img src="../../../assets/global/images/layouts/topbar-fluid.jpg" alt="topbar" class="img-topbar-fluid hidden img-responsive">
                                    </a>
                                </div>
                            </div>
                            <p class="m-t-5"><small class="topbar-txt">current layout: <strong>topbar fixed</strong></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
                <span>THEMES LAB</span>.
                <span>All rights reserved. </span>
            </p>
            <p class="pull-right sm-pull-reset">
                <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
        </div>
    </div>
</div>